body {
  background-image: url(https://panel.junio-smart.id/uploads/default/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}
.form {
  border-radius: 20px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  width: max-content;
  background: #fff;
  margin-left: 70vh;
  padding: 20px;
}
