@font-face {
  font-family: 'UnileverShilling';
  src: local('UnileverShilling'),
    url('./fonts/UnileverShilling.ttf') format('truetype');
}

@font-face {
  font-family: 'UnileverShillingBold';
  src: local('UnileverShillingBold'),
    url('./fonts/UnileverShillingBold.ttf') format('truetype');
}

@font-face {
  font-family: 'UnileverShillingItalic';
  src: local('UnileverShillingItalic'),
    url('./fonts/UnileverShillingItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'UnileverShillingMedium';
  src: local('UnileverShillingMedium'),
    url('./fonts/UnileverShillingMedium.ttf') format('truetype');
}
